.button{
    width: fit-content;
    color:white;
    cursor: pointer;
    background-color: gray;
    border:none;
    padding:0.75rem 3rem;
    gap:1rem;
    border-radius: 12px;
    display:flex;
    font-size: larger;
}